/*! -- RESET -- */
* {
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*? -- COLORES -- */

:root {
  --dark: #011526;
  --dark-violet: #4d3273;
  --violet: #b35abf;
  --violet-light: #f29bec;
  --violet-lighter: #f2cef2;
}

/*? -- ESTILOS BODY -- */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: var(--dark);
  user-select: none;
  background-image: url(img/fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*? -- ESTILOS H1 -- */

h1 {
  font-size: 4.7rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  padding-bottom: 3rem;
  min-width: 100%;
  color: transparent;
  background-image: url(img/Diseno_sin_titulo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-clip: text;
  position: sticky;
  top: 0;
  z-index: 3;
}

ul {
  width: auto;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

li {
  margin: 0.5rem auto;
  text-align: center;
  padding: 1.5rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  width: 75vw;
  text-decoration: none;
}

a {
  margin-left: 2rem;
}

ul > a > li,
.li__answer {
  /*display: block;*/
  width: 90%;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--dark);
}

#generalContainer {
  background-color: var(--dark-violet);
  padding: 1rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
  animation: zoomIn both ease-out 0.7s;
}

.wrapper {
  position: relative;
}

.counterH3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: sticky;
  bottom: 0;
}

.answersContainer {
  border-radius: 1.5rem;
  background-color: var(--dark);
  width: auto;
  height: auto;
  margin: 2rem;
  padding: 2rem;
  opacity: 85%;
  margin-top: 3.2rem;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  #generalContainer::after {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--dark-violet);
    position: absolute;
    bottom: -2.7rem;
    left: calc(50% - 0.5rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.li__answer:nth-child(even) {
  background-color: var(--violet-light);
}

.li__answer:nth-child(odd) {
  background-color: var(--violet);
}

.li__answer:hover {
  background-color: var(--dark-violet);
  color: antiquewhite;
  transition-duration: 0.4s;
}

.style--a {
  margin: 2rem;
}

/*? ANIMACIONES */

@keyframes zoomIn {
  0% {
    transform: scale(0.1);
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*? -- MEDIA QUERIES -- */

/* @media onlyscreen and (max-width: 768px) {  
  
} */

@media (orientation: landscape) and (max-width: 768px) {
  ul > a > li,
  .li__answer {
    padding: 0.7rem;
    margin: 0 auto;
    font-size: 1rem;
  }

  .counterH3 {
    position: sticky;
    bottom: 0;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  /* body {
    flex-direction: column;
  } */
}
