/*! -- RESET -- */
/* Reseteo de todos los valores de los elementos por defecto */
*,
*::after,
::before {
  margin: 0; /* Resetedo de margin */
  padding: 0; /* Resetedo de padding */
  box-sizing: inherit; /* Hereda box-sizing de elementos padre */
}

/* Setting base styles for HTML */
html {
  /* valor del tamaño de la fuente por defecto del navegador es de 16px */
  font-size: 62.5%; /* Trabajar con 1 rem = 10px (font-size=10px) (62.5% * 16px = 10px) */
  box-sizing: border-box; /* Setea box-sizing a border-box */
  font-family: 'Roboto', sans-serif;
}

/*? -- COLORES -- */

:root {
  --dark: #011526;
  --dark-violet: #4d3273;
  --violet: #b35abf;
  --violet-light: #f29bec;
  --violet-lighter: #f2cef2;
}

/*? -- ESTILOS BODY -- */

body {
/*   text-align: center; 
  flex-direction: column;
  overflow: hidden;
  width: 100vw; */

  height: 100vh;
  background-color: var(--dark);
  user-select: none;
  background-image: url(img/fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-areas: 
  'header'
  'question'
  'answers'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}

.header{
  grid-area: header;

  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3rem;
  color: transparent;
  background-image: url(img/Diseno_sin_titulo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-clip: text;

  margin: 1rem;
  padding: 1rem;
}

.question{
  grid-area: question;

  background-color: var(--dark-violet);
  text-align: center;
  margin: 8rem 2rem 3rem 2rem;
  font-size: 1.8rem;
  padding: 0.8rem;
  
  border-radius: 1rem;
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
  animation: zoomIn both ease-out 0.7s;
}

ul, #gameOver {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 80%;
  padding: 1rem 1rem;
  /* margin: 0 auto; */
  list-style: none;
  border-radius: 1.5rem;
  background-color: var(--dark);
}

.answers{
  grid-area: answers;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 85%;
  margin: 5rem 0 0 0;

}


.li__answer {
  border: 2px solid black;
  border-radius: 1.5rem;
  max-width: 80%;
  min-width: 80%;
  padding: 1.5rem;
  margin: 0.6rem 0rem 0.6rem 0rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--dark);
  font-size: 1.6rem;
}



@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .question::after {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--dark-violet);
    position: absolute;
    bottom: -2.7rem;
    left: calc(50% - 0.5rem);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.li__answer:nth-child(even) {
  background-color: var(--violet-light);
}

.li__answer:nth-child(odd) {
  background-color: var(--violet);
}

.li__answer:hover {
  background-color: var(--dark-violet);
  color: antiquewhite;
  transition-duration: 0.4s;
}

#gameOver {
  /* width: 100%;
  text-align: center;
  font-size: 4.5rem;
  
  margin: 1rem;
  padding:1rem;  */
  margin-top: 20rem;
  font-size: 4.5rem;
  color: whitesmoke;
  letter-spacing: 0.5rem;
}

.counter{
  grid-area: footer;
  display: flex;
  justify-content: center;
}

/*? ANIMACIONES */

@keyframes zoomIn {
  0% {
    transform: scale(0.1);
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/*? -- MEDIA QUERIES -- */

/* @media onlyscreen and (max-width: 768px) {  
  
} */

/* @media  (max-width: 768px) {
  ul > li,
  .li__answer {
    
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .questionContainer{
    font-size: 1rem;
  }

  .counterH3 {
    position: sticky;
    bottom: 0;
  }
  .answersContainer{
    height: 60%;
  }
} */



@media (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
  ul > li,
  .li__answer {
    padding: 0.7rem;
    /* margin: 0 auto; */
    font-size: 1rem;
  }
  .questionContainer{
    font-size: 2rem;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
h1 {
  font-size: 10rem; 
}
.questionContainer{
  font-size: 3rem;
}
}

@media (orientation: landscape) and (min-width:1024px){
  

  h1 {
    font-size: 10rem;
  }
  .questionContainer {
    
    font-size: 3rem;
  }
}
